<div class="buttons">
    <button (click)="unFlipCards()">Unflip All</button>
    <button (click)="flipCards()">Flip All</button>
    <button class="button-roller" (click)="goTo('/touhou-gw/roller')">Character Roller</button>
  </div>
<div class="content">
    
    <app-card #appCard 
    *ngFor="let character of characterList$ | async" 
    @fadeIn [firstName]="character.firstName" [image]="'assets/images/chara/'+character.firstName +'.webp' | lowercase" 
    [id]="character.id" [bg]="character.WorkAbbreviation | lowercase"
    />

    <h1 class="credit">Thanks for watching the video, the API is currently down because I'm not in the mood to pay for Azure to keep it running at the moment.</h1>
    <h1 class="credit">Catch me on Discord &#64;Karasca for questions, bye!</h1>
</div>

<div class="footer">
  <h1 class="credit">Art by <a href="https://twitter.com/socha1980/">粗茶 (socha)</a></h1>
</div>